*{ /*least specific selector universal selector*/
    margin: 20;
   
}

body {
    background-color: rgb(204, 213, 174); 
    font-family: "Geist", sans-serif,"Oswald", sans-serif,"Roboto", sans-serif, "helvetica";}
h1 {
    text-align: center;
}
p { margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 30px;
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}
/* parent + space + nested child(target)*/

ol li {
    color: black;
    font-weight: 175;
    text-align: left;
    margin: 10px 20px 10px;

}

ul li {
    color: black;
    text-align: left;
}

li {
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-size: 15px;
    line-height: 200%;
}

/* i'm a css comment! */
/* control forward slash creates a comment shortcut in vscode */

header {
    color: #D4A373;
    font-style: italic;
    font-weight: bold;
    font-size: 55px;
}

h2, h3, h4 {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

footer p { color: grey;
}

figcaption a {
    text-decoration: none;

}

/* pseudo-class selector*/

figcaption a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

figcaption a:visited {
    color: red;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 30px;
    padding: 40px;
    border: 4px solid blue;
    font-weight: bold;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:blue;
}

.content-box {
    background-color: green;
    width: 100px;
    height: 100px;
    padding: 10px;

}

.border-box {
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    border: 10px solid green;
    
}

#footer {
    background-color: black;
}

#header {
    background-color: black;
}

nav {
    width: 800px;
    height: 100px;
    background-color: #FEFAE0;
    margin: 30px 50px;
    padding: 20px 40px;
    border: 10px solid #D4A373;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #DDA15E;
}