body {
    background-color: rgb(204, 213, 174); 
    font-family: "Geist", sans-serif,"Oswald", sans-serif,"Roboto", sans-serif, "helvetica";}

p {
    color: black;
}

li {
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

header {
    background-color: papayawhip;
    color: #D4A373;
    font-style: italic;
    font-weight: bold;
    font-size: 55px;
}


